@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
  'hd hd hd'
  'main main main'
  'ft ft ft';
  grid-template-rows: auto 1fr auto;

  height: 100vh;

  background-color: #f9f9f9;
  color: #303030;
  font-family: HelveticaNeue;
}

.main {
  display: grid;
  grid-area: main;
  width: 100%;
}

.header {
  grid-area: hd;
  padding-top: 50px;
  font-size: 18px;
  font-weight: bold;
}

.footer {
  grid-area: ft;
  padding-bottom: 50px;
}

.footer-container {
  justify-content: space-between;
}

.footer-container a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.4s linear; 
  font-size: 14px;
}

.footer.active .footer__mail {
  opacity: 1;
}

.footer.active .footer__fb {
  transition-delay: 1s;
  opacity: 1;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  
  max-width: 1440px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.typed-container {
  flex-flow: column nowrap;
  justify-content: center;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.text {
  max-width: 600px;
  width: 100%;
  padding-bottom: 40px;

  margin-left: calc(271/1440*100%);
  font-family: HelveticaNeue;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
}

.fade {
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-100%);
}

a {
  color: #303030;
}

@media (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .text {
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    line-height: 1.36;
  }


}