extends layout/layout.pug

block content
  header.header 
    .container
      .logo
        | filonenko.me
  main.main
    .container.typed-container
      .text
        span.typed
  footer.footer
    .container.footer-container
      a.footer__mail(href="mailto:mail@filonenko.me")
        | mail@filonenko.me
      a.footer__fb(href="#" target="_blank")
        | fb
