extends layout/layout.pug

block content
  header.header 
    .container
      .logo
        | filonenko.me
  main.main
    .container.typed-container
      .text
        span.typed
  footer.footer
    .container.footer-container
      a.language(href="#" target="_blank")
        | in english
      a.mail(href="mailto:mail@filonenko.me")
        | mail@filonenko.me
