extends layout/layout.pug

block content
  header.header 
    .container
      .logo
        | filonenko.me
  main.main
    .container
      .text
        | добро пожаловать на самый минималистичный сайт диджитал агенства.
  footer.footer
    .container
      a.language(href="#")
        | in english
      a.mail(href="mailto:mail@filonenko.me")
        | mail@filonenko.me
